ios/RNSimpleCompass.xcodeproj/project.xcworkspace/
ios/RNSimpleCompass.xcodeproj/xcuserdata/
.DS_Store

node_modules/**/*
.expo/*
.expo-shared/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
android/app/build/generated/**/*
android/app/build/intermediates/**/*
android/app/build/intermediates/transforms/**/*
android/app/build/tmp/**/*
*.dex

android/.gradle/*
android/.idea/*
android/build/*
